body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.logo {
    position: absolute;
    width: 300px;
    opacity: 0;
}
#poudlard {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.custom-cursor {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
}