* {
    cursor: none;
}

body {
    margin: 0;
    background-color: #000;
    cursor: none;
    background-image: url("assets/hogwart.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    animation: anim 1.5s ease-in-out;
    color: white;
    font-family: "Bauhaus 93", sans-serif;
    font-weight: 400;

}

.custom-cursor {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}
.blue-ball {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: rgba(29, 54, 210, 0.8);
    border-radius: 50%;
    box-shadow: 0 0 20px #00f, 0 0 50px #00ffd9;
}

h1 {
    font-size: 7rem;
    color: aliceblue;
    text-transform: uppercase;
    font-family: "Bauhaus 93", sans-serif;
    font-weight: 400;
}

.center{
    display: grid;
    place-content: center;
    place-items: center;
    height: 100dvh;
}

.line {
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0 76%);
}

.char {
    transform: translateY(115px);
    transition: transform .5s;
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section-2 {
    background-size: cover;
    height: 100vh;
    cursor: default !important;
    display: grid;
    place-items: center;
    place-content: center;
    position: relative;
}

.presentation {
    font-size: 32px;
    display: grid;
    place-items: center;
    place-content: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: brightness(80%);
    cursor: default !important;
}

.btn {
    padding: 3px 4px;
    border-radius: 12px;
    color: white;
    background: black;
    border: 2px solid white;
    cursor: pointer;
}
